header{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}
.navigation{ 
       display: inline-block;
       background-color: black;
       width: 100%;
}
.navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation a:hover {
    background-color: #ddd;
    color: black;
}

#content {
    width: 70%;
    float: left;
}
.country{
    margin-top: 1%;
    border: 1px solid grey;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-top: 10px;
    display: block;
    float: left;
    font-style: italic;
    background-color: lightblue;
}
aside img{
    width: inherit;
    height: auto;
}

section {
    width: 30%;
    display: block;
    padding: 10px;
    margin: 20px 10px;
}

footer {
    position:fixed;
    bottom:0;
    background-color: black;
    width: 100%;
}

footer p {
    text-align: center;
    color: white;
}