<header>
<p>header</p>
</header>
<nav id="menu" class="navigation">
    
        <a>Home<a>
        <a href="">countries<a>
        <a>Contact</li>
 
</nav>
<section  id="content" class="container">

</section>
<aside id="aside">
</aside>
<footer>
<p>footer</p>
</footer>
